{% extends 'frontend/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

{% include 'frontend/components/header.html.twig' with { 'items' : items } %}

<div class="uk-section uk-section-large uk-text-center">

  <div class="uk-container tm-container-medium">
      <div class="uk-width-xlarge text-highlight uk-margin-auto">
          <h1 class=" inview-animation">{{ items[3].value }}</h1>
      <p class="uk-margin  inview-animation">{{ items[4].value }}</p>
      </div>
    </div>

</div>

<div class="uk-section uk-section-large uk-background-cover" data-src="{{ asset('assets/components/bg-a.png') }}" uk-img>

<div class="uk-container tm-container-medium">
  <div class="uk-child-width-1-2@m uk-flex uk-text-center uk-flex-middle" uk-grid>

   <div>
     <div>
       <img src="{{ asset('uploads/' ~ items[8].value) }}" alt="">
     </div>
   </div>
   <div>
     <div >
       <div class="uk-width-large@m uk-text-left@m uk-margin-auto">
         <h4 class="inview-animation">{{ items[5].value }}</h4>
         <h1 class="uk-margin inview-animation">{{ items[6].value }}</h1>
         <p class="inview-animation">{{ items[7].value }}</p>
       </div>
     </div>
   </div>

  </div>
</div>

</div>

<div class="uk-section uk-section-large uk-text-center uk-background-cover" data-src="{{ asset('assets/components/bg-b.png') }}" uk-img>

<div class="uk-container tm-container-medium">
  <div class="uk-child-width-1-2@m uk-flex uk-flex-middle" uk-grid>

   <div>
     <div>
       <img src="{{ asset('uploads/' ~ items[12].value) }}" alt="">
     </div>
   </div>
   <div class="uk-flex-first@m">
     <div class="uk-text-left@m uk-margin-auto">
       <div class="uk-width-large@m">
         <h4 class="inview-animation">{{ items[9].value }}</h4>
         <h1 class="uk-margin inview-animation">{{ items[10].value }}</h1>
         <p class="inview-animation">{{ items[11].value }}</p>
       </div>
     </div>
   </div>

  </div>
</div>

</div>

<div class="background-blue">

  <div class="uk-flex uk-flex-middle uk-grid-collapse" uk-grid>
    <div class="width-left-8">

             <div id="hab-slideshow" class="uk-position-relative uk-visible-toggle uk-light" uk-slideshow="animation: push; autoplay-interval: 3000; autoplay: true; ratio: 7:3">

   <ul class="uk-slideshow-items uk-position-relative">
     {% for item in gallery|reverse %}
     <li>
         <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
             <img src="{{ asset('uploads/' ~ item.path) }}" alt="" uk-cover>
         </div>
     </li>
     {% endfor %}
   </ul>

  <div class="uk-position-bottom-right uk-slidenav-container">
       <a class=" uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
   <a class=" uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

                 </div>
</div>

    </div>

    <div class="width-left-2 uk-visible@m">
        <div class="uk-padding-large light uk-text-center">
            <img src="{{ asset('assets/components/icons/sea-waves.svg') }}" alt="" uk-svg>
        </div>
    </div>
  </div>

<div class="width-left-8">
  <div class="uk-margin-auto">

    <div class="uk-section uk-section-small uk-position-relative">
      <div class="uk-padding-small">
        <div class="progress-container">
          <div id="hab-slideshow-progressbar" class="progress-bar"></div>
        </div>
      </div>
    </div>


  </div>
</div>

   </div>


<div class="uk-section uk-section-large">

   <div class="uk-container tm-container-medium uk-flex uk-flex-right uk-text-center">
     <div class="uk-width-xlarge uk-text-right@s">
       <h1 class="heading inview-animation">
         Servicios que te darán la mejor experiencia
       </h1>
     </div>
   </div>

</div>

<div class="">

  <div class="uk-flex uk-flex-right uk-text-right">
    <div class="width-left-8">
      <div class="uk-inline-clip uk-transition-toggle uk-position-relative">
      <img class="uk-transition-scale-up uk-transition-opaque" src="{{ asset('uploads/' ~ items[13].value) }}" uk-img alt="">
      </div>
    </div>
  </div>

  <div class="uk-section">
    <div class="uk-container">
        <div class="sy-right-container">
            <div class="uk-width-large@s uk-text-left@s uk-text-center uk-width-1-1">
        <h2 class="uk-margin-small inview-animation">{{ items[14].value }}</h2>
            <p class="inview-animation">{{ items[15].value }}</p>
                <div class="uk-margin-medium-top inview-animation">
                    <a class="link-style-a">Ver esta área</a>
                </div>
    </div>
        </div>
    </div>
</div>

</div>

<div class="uk-section uk-section-large">

   <div class="uk-container tm-container-medium uk-text-center">
     <div class="uk-width-xlarge uk-text-left@s">
       <h1 class="heading inview-animation">
         Inmortaliza esa fecha especial para ti
       </h1>
     </div>
   </div>

</div>

<div class="">

  <div class="width-left-8">
    <div class="uk-inline-clip uk-transition-toggle">
    <img class="uk-transition-scale-up uk-transition-opaque" src="{{ asset('uploads/' ~ items[16].value) }}" uk-img alt="">
    </div>
  </div>

  <div class="uk-section">
    <div class="uk-container">
        <div class="sy-right-container">
            <div class="uk-width-large@s uk-text-left@s uk-text-center uk-width-1-1">
        <h2 class="uk-margin-small inview-animation">{{ items[17].value }}</h2>
            <p class="inview-animation">{{ items[18].value }}</p>
                <div class="uk-margin-medium-top inview-animation">
                    <a class="link-style-a">Ver esta área</a>
                </div>
    </div>
        </div>
    </div>
</div>

</div>

<div class="uk-section uk-section-large">

   <div class="uk-container tm-container-medium uk-text-center">
     <div class="uk-width-xlarge uk-margin-auto">
       <h1 class="heading inview-animation">
         Una Locación Única
       </h1>
     </div>
   </div>

</div>

<div class="uk-section">
  <div class="uk-container tm-container-medium">
          <div class="uk-width-large@s uk-text-left@s uk-text-center uk-width-1-1">
      <h2 class="uk-margin-small inview-animation">{{ items[20].value }}</h2>
          <p class="inview-animation">{{ items[21].value }}</p>
              <div class="uk-margin-medium-top inview-animation">
                  <a class="link-style-a">Ver esta área</a>
              </div>
      </div>
      <div class="uk-section uk-section-small uk-text-center">
        <div class="uk-inline-clip uk-transition-toggle">
        <img class="uk-transition-scale-up uk-transition-opaque" src="{{ asset('uploads/' ~ items[19].value) }}" uk-img alt="">
      </div>
      </div>
  </div>
</div>

{% include 'frontend/components/footer.html.twig' %}


{% endblock %}
